
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @helper BookItems(string[] books)
    {
        <ol type="I">
            @foreach(string book in books)
            {
                <li>@book</li>
            }
        </ol>
    }
    @BookItems(new string[]{ "C","C++",".Net" })
</body>
</html>
