
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Upload Image Example</h1>

        <form action="./Upload" method="post" enctype="multipart/form-data">
            @*<input type="text" id="fname" name="fname" />*@
            <input type="file" id="photo" name="photo" /> <br />

            @*<button type="submit">Upload</button>*@
            <input type="submit" value="Upload"/>
        </form>
    </div>
</body>
</html>
